<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Guarderia Canina y Felina</title>
      <!-- favicon -->
      <link rel="shortcut icon" href="static/img/perrito.jpg" type="image/x-icon">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <!-- fontawesome css -->
      <link rel="stylesheet" href="static/css/flaticon.css">
      <!-- fontawesome css -->
      <link rel="stylesheet" href="static/css/fontawesome.min.css">
      <!-- owl carousel css -->
      <link rel="stylesheet" href="static/css/owl.carousel.min.css">
      <!-- owl carousel theme css -->
      <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
      <!-- slicknav css -->
      <link rel="stylesheet" href="static/css/slicknav.css">
      <!-- animate css -->
      <link rel="stylesheet" href="static/css/animate.min.css">
      <!-- main css -->
      <link rel="stylesheet" href="static/css/style.css">
      <!-- responsive css -->
      <link rel="stylesheet" href="static/css/responsive.css">
      <!-- jquery js -->
      <script src="static/js/jquery-3.3.1.min.js"></script>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9EHZWY3P15"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-9EHZWY3P15');
      </script>
   </head>


   
   <body>
      <!--   header area start   -->
      <div class="header-area home-2">
         <div class="info-bar">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-8">
                     <ul class="social-links">
                        <li><a href="https://instagram.com/guarderiafelinaycanina?igshid=NTc4MTIwNjQ2YQ==" target="_blank">Instagram <i class="fab fa-instagram"></i></a></li>


                     </ul>
                  </div>
                  <div class="col-lg-8 col-4">
                     <div class="right-content">
                        <div class="whats">
                        <p style="font-size: 14px;"><a href="https://wa.me/5493462668546" target="_blank" style="color: #ffffff;">¡Whatsapp las 24 horas! +54 9346 2668 546</a></p>
                     </div>
                     

                     
                     <script>if (window.innerWidth <= 500) {
                        document.querySelector('.whats a').textContent = '¡Contactanos! ';
                      }
                      </script>
                     
                  
                  </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="support-nav-area">
            <div class="container">
               <div class="support-nav-container">
                  <div class="row">
                     <div class="col-lg-3 col-6">
                        <div class="logo-wrapper">
                           <div class="logo-wrapper-inner">
                              <h2 style="color: #6a1e1e;">Orejitas en Casa</h2>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-9 col-6 position-static">
                        <div class="support-bar">
                           <div class="row">
                              <div class="offset-lg-2 col-lg-10 offset-xl-4 col-xl-8">
                                 <div class="row">
                                    <div class="col-lg-4">
                                       <div class="support-info">
                                          <div class="left-content"><i class="flaticon-call"></i></div>
                                          <div class="right-content">
                                             <div class="right-content-inner">
                                                <h5><a href="https://wa.me/5493462668546" target="_blank" style="color: #6a1e1e;">Contactenos</a></h5>

                                                <p style="font-size: 14px;"><a href="https://wa.me/5493462668546" target="_blank" style="color: #6a1e1e;">+54 9346 2668 546</a></p>


                                              
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-4">
                                       <div class="support-info">
                                          <div class="left-content"><i class="flaticon-email"></i></div>
                                          <div class="right-content">
                                             <h5>Mail</h5>
                                             <p style="font-size: 12px;">contacto@orejitasencasa.com </p>



                           

                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-4">
                                       <a href=#contacto class="boxed-btn"><span>Escribinos</span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div id="mobileMenuHome2"></div>
                        <ul class="search-cart-area mobile">
                           <li class="search-icon"><a href="#"><i class="flaticon-search"></i></a></li>
                           <li class="shopping-icon">
                              <a href="#"><i class="flaticon-shopping-cart-black-shape"></i></a>
                              <span class="count">0</span>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="navbar-area">
                     <div class="row">
                        <div class="col-md-9">
                           <nav class="main-menu" id="mainMenuHome2">
                              <ul>
                                 <li class="dropdown active">
                                    <a href=#inicio>Inicio</a>
                                 
                                 </li>
                                 <li>
                                    <a href=#quienessomos>¿Quienes Somos?</a>
                                    <li class="dropdown active">


                                       <a href="#servicios">Servicios</a>
                                    
                                    </li>
                                    <li>
                                       <a href=#contacto>Contacto</a>
                              </ul>
                              </ul>
                           </ul>
                              
                           </nav>
                        </div>
                        <div class="col-md-3">
                           <ul class="search-cart-area">
                            
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--   header area end   -->


      <!--   search bar popup start   -->
      <div class="search-popup">
         <form class="search-form" action="#">
            <div class="form-element"><input type="text" placeholder="Type your search keyword"></div>
         </form>
         <div class="search-popup-overlay" id="searchOverlay"></div>
         <button class="search-close-btn" id="searchCloseBtn"><i class="fas fa-times"></i></button>
      </div>
      <!--   search bar popup end   -->   


      <!--  hero area start  -->
      <div  id="inicio" class="hero-area hero-bg-2 home-2 parallax">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-8">
                  <div  class="hero-txt">
                     <span class="wow fadeInDown" data-wow-duration="1.5s" style="color: black;">Gracias por su consulta!</span>

                     <h1 class="wow fadeInUp" data-wow-duration="1.5s">¡Estaremos comunicandonos con usted a la brevedad!</h1>
                     <a href="#servicios" class="wow fadeInUp boxed-btn" data-wow-duration="1.5s"><span>Servicios</span></a>

                  </div>
                  
                  
                  
               </div>
            </div>
         </div>
         <div id="contacto" class="request-section">
            <div class="container">
               <div class="request-section-container">
                  <div class="row">
                     <div class="col-xl-5 col-lg-6">
                        <span class="title">Contactenos</span>
                        <h2 class="subtitle">Deje su Consulta</h2>
                        <p style="color: white;">¡Le estaremos respondiendo a sus preguntas a la brevedad!</p>
                     </div>
                     <div class="offset-xl-1 col-xl-6 col-lg-6">
                        <div class="request-form">
                           <form action="{% url 'save_formulario' %}" method="post">{% csrf_token %}
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-element"><input name="nombre" type="text" placeholder="Nombre"required></div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-element"><input name="telefono" type="text" placeholder="Telefono"required></div>
                                 </div>

                                 
                              
                                 <div class="col-md-12">
                                    <div class="form-element">
                                       <textarea name="texto" cols="30" rows="10" placeholder="Escriba su consulta o sugerencia"></textarea>
                                    </div>
                                 </div>
                                 <div class="col-lg-12">
                                    <div class="form-element mb-0"><button type="submit" class="boxed-btn"><span>Enviar</span></button></div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="request-section-overlay"></div>
         </div>
         <div class="hero-overlay"></div>
      </div>
      <!--  hero area end  -->
<br>
      <!--  about section start  -->
      <div id="quienessomos" class="about-section home-2">
         <div class="container">
            <div class="row">
               <div class="col-lg-5">
                  <img class="ceo-pic" src="static/img/cuidadores/DiegoyFlori1.jpeg" alt="">
               </div>
               <div class="col-lg-6 offset-lg-1">
                  <div class="comment-content">
                     <span class="title">Sobre Nosotros</span>
                     <h2 class="subtitle">Orejitas en Casa</h2>


                     <div style="text-align: justify;;">
                        <p>Bienvenidos a la Guarderia de Animales, Un lugar especializado en el cuidado de tus más fieles Amigos.</p>
                        <p>En nuestras guardes contamos con instalaciones diseñadas específicamente para que tus mascotas se sientan como en tu casa, con toda la comodidad y seguridad que se merecen 
                           Contamos con áreas de descanso y juegos, donde ellos pueden interactuar con otros pensionistas de su especie, siempre bajo nuestra supervisión.
                           Ambas guarderías (felina y canina) están totalmente separadas una de otra, teniendo así una excelente adaptación para ambas especies.
                           Contamos con personal capacitado para garantizar que tu mascota estén muy seguros y mimados a la vez</p>
                     </div>   
                     <div class="ceo-details">
                        <img src="static/img/perroygato2.jpg"
                              srcset="static/img/cuidadores/DiegoyFlori1.jpeg 700w,
                                       static/img/perroygato2.jpg"
                              alt="Cuidadores de orejitas en casa"
                              style="max-width:100%;">

                        <h5>Florencia y Diego</h5>
                        <span>Cuidadores de Orejitas en Casa</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  about section end  -->

      <!--  service section start  -->
      <div id="fotos" class="service-section home-2">
         <div class="container">
            <span class="title">Instalaciones diseñadas para nuestras mascotas</span>
            <h2 class="subtitle"> Conozca nuestro hogar!</h2>
            <div class="service-carousel owl-carousel owl-theme">
               <div class="single-service">
                  <div class="img-wrapper">

                 <img src="static/img/Fotos/perrosygatosguarderia51.jpeg" >
                  </div>
               </div>
              
               <div class="single-service">
                  <div class="img-wrapper">
                     
                     <img src="static/img/Fotos/perrosygatosguarderia18.jpeg" >

                  </div>
               </div>
               <div class="single-service">
                  <div class="img-wrapper">
                     
                     <img src="static/img/Fotos/perrosygatosguarderia47.jpeg" >

                  </div>
               </div>
               <div class="single-service">
                  <div class="img-wrapper">
                     
                     <img src="static/img/Fotos/perrosygatosguarderia33.jpeg" >

                  </div>
               </div>
               <div class="single-service">
                  <div  class="img-wrapper">
                     
                     <img src="static/img/Fotos/perrosygatosguarderia46.jpeg" >

                  </div>
               </div>
              
            </div>
         </div>
      </div>
      <!--  service section end  -->


      <!--  features section start  -->
      <div  class="features-section home-2 border-top border-top-lg-0">
         <div class="container">
            <div class="row feature-content">
               <div class="col-xl-5 offset-xl-7 col-lg-6 offset-lg-6 pr-0">
                  <div id="servicios" class="features">
                     
                     <h2 class="subtitle">¿Por qué elegirnos?</h2>
                     <div class="feature-lists">
                        <div class="single-feature wow fadeInUp" data-wow-duration="1s">
                           <div class="icon-wrapper"><i class="flaticon-customer-service"></i></div>
                           <div class="feature-details">
                              <h4>Soporte 24/7</h4>
                              <p style="text-align: justify;">Escribinos tu consulta cuando desee, estamos para quitarle sus inquietudes </p>
                           </div>
                        </div>
                        <div class="single-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                           <div class="icon-wrapper"><i class="flaticon-email"></i></div>
                           <div class="feature-details">
                              <h4>Servicios</h4>
                              <p style="text-align: justify;">Ofrecemos servicios de guardería para perros y gatos de todas las edades y razas, desde cachorros hasta adultos mayores. 
                                  </p>
                           </div>
                        </div>
                        <div class="single-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                           <div class="icon-wrapper"><i class="flaticon-worldwide"></i></div>
                           <div class="feature-details">
                              <h4>Requisitos para la aceptacion</h4>
                              <p style="text-align: justify;">Felinos de todas las edades, con su calendario de vacunacion, desparacitacion externa e interna al dia.<br>
                                 Vif (sida felino). Vilef (leucemia Felino). Test de Vif / Vilef (negativo).<br>
                                                                 
                                 Enviar foto del carnet y resultados por Whats App al momento de reservar la estadía. <br>
                                 Caninos, razas pequeñas y medianas.<br>
                                 No recibimos hembras en celo, en lo posible castradas.<br>
                                 Calendario de vacunacion al dia, quintuple y rabia, desparasitación externa e interna al dia. <br></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  features section end  -->


     
<br>


      <!--   footer section start    -->
      <footer>
         <div class="container">
            <div class="top-footer">
               <div class="row">
                  <div class="col-xl-4 col-lg-4">
                     
                     <h2 style="color: #ffffff;">Orejitas en Casa</h2></a><br>
                     <p>Guarderia Canina y Felina <br><br> Con amor y mucho cariño</p>
                  </div>
                  <div class="offset-xl-1 col-xl-2 col-lg-2">
                     <h4>Links</h4>
                     <ul class="userful-links">
                        <li><a href="#inicio">Inicio</a></li>
                        <li><a href="#quienessomos">¿Quienes Somos?</a></li>
                        <li><a href="#servicios">Servicios</a></li>
                        <li><a href="#contacto">Contacto</a></li>
                     </ul>
                  </div>
               
                  <div class="col-xl-3 col-lg-4">
                     <h4>Contacto</h4>
                     <div class="footer-contact">
                        <div class="contact-info">
                           <div class="icon-wrapper"><i class="flaticon-placeholder"></i></div>
                           <p>Diego 2017 - Don Torcuato - Provincia de Buenos Aires</p>
                        </div>
                        <div class="contact-info">
                           <div class="icon-wrapper"><i class="flaticon-call"></i></div>

                           <p ><a href="https://wa.me/5493462668546" target="_blank">+54 9346 2668 546</a></p>
                                                   
                        </div>
                        <div class="contact-info">
                           <div class="icon-wrapper"><i class="flaticon-email"></i></div>
                           <p>contacto@orejitasencasa.com</p>
                           
                        </div>


                        
                     </div>
                     
                  </div>
                  


                        
                     </div>
                     <div style="text-align: center;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1607.6234959356434!2d-58.63549111284138!3d-34.50215207728331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbb5ad27b0449%3A0x4f435cf84fa9d91a!2sDiego%202017%2C%20B1611%20Don%20Torcuato%2C%20Provincia%20de%20Buenos%20Aires!5e1!3m2!1ses-419!2sar!4v1683592293489!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div>
               </div>
            </div>
            
            <div class="bottom-footer">
               <a href="https://www.linkedin.com/in/maximo-batallan-9a2508103/"><p class="text-center">© Copyrights 2023 Desarrollado por Maximo Batallan. Todos los Derechos Reservados.</p></a>
            </div>
         </div>
      </footer>
      <!--   footer section end    -->




      <!-- preloader section start -->
      <div class="loader-container">
         <span class="loader">
         <span class="loader-inner"></span>
         </span>
      </div>
      <!-- preloader section end -->


     
    
    
      <!-- Botón de WhatsApp -->
      <a href="https://wa.me/5493462668546" target="_blank" id="whatsapp-btn">
         <i class="fab fa-whatsapp"></i>
       </a>
   
   

      <!-- popper js -->
      <script src="static/js/popper.min.js"></script>
      <!-- bootstrap js -->
      <script src="static/js/bootstrap.min.js"></script>
      <!-- owl carousel js -->
      <script src="static/js/owl.carousel.min.js"></script>
      <!-- isotope js -->
      <script src="static/js/isotope.pkgd.min.js"></script>
      <!-- slicknav js -->
      <script src="static/js/jquery.slicknav.min.js"></script>
      <!-- wow js -->
      <script src="static/js/wow.min.js"></script>
      <!-- main js -->
      <script src="static/js/main.js"></script>
   </body>
</html>